*
!.gitignore
!Makefile
!starlet-sleigh/
!starlet-sleigh/Makefile
!starlet-sleigh/starlet.cspec
!starlet-sleigh/starlet_ios.sinc
!starlet-sleigh/starlet.ldefs
!starlet-sleigh/starlet.pspec
!starlet-sleigh/starlet.slaspec
!bin/
!bin/freeblocks
!bin/ios-extract
!bin/ios-res-syscall
!bin/gen-ios-sleigh
!bin/ios.py
!bin/ios-module-discover
!bin/ios-kernel-discover
!bin/ios-kernel-discover-nowad
!bin/dolparse
!bin/gcm-extract
!bin/keys-extract
!bin/rvth-extract
!bin/boot2-extract
!bin/boot1-extract.py
!bin/pywiire/
!bin/pywiire/gcm.py
!bin/pywiire/keys.py
!bin/pywiire/ios.py
!bin/pywiire/nand.py
!bin/pywiire/README.md
!bin/pywiire/title.py
!bin/pywiire/util.py
!src/
!src/es_gettitle_exec/
!src/es_gettitle_exec/get_titles.py
!src/es_gettitle_exec/Makefile
!src/es_gettitle_exec/cstub/
!src/es_gettitle_exec/cstub/main.c
!src/es_gettitle_exec/cstub/stub.S
!src/es_gettitle_exec/cstub/syscall.h
!src/es_gettitle_exec/stub/
!src/es_gettitle_exec/stub/stub.S
!src/boot1-extract/
!src/boot1-extract/boot1_hash.c
!src/boot1-extract/boot1_extract.c
!src/boot1-extract/Makefile
!src/boot1-extract/sha1.c
!src/boot1-extract/sha1.h
!src/stitch-runtime/
!src/stitch-runtime/stub.s
!src/stitch-runtime/main.c
!src/stitch-runtime/linker.ld
!src/stitch-runtime/Makefile
!src/stitch-runtime/README.md
!src/ipl2card/
!src/ipl2card/Makefile
!src/ipl2card/source/
!src/ipl2card/source/main.c
!stfu/
!stfu/README.md
