*
!.gitignore
!Makefile
!arm9ejs_ios.sinc
!bin/
!bin/ios-unpack
!bin/ios-res-syscall
!bin/dolparse
!bin/keys-unfurl
!bin/rvth-extract
!bin/boot2-extract
!src/
!src/es_gettitle_exec/
!src/es_gettitle_exec/get_titles.py
!src/es_gettitle_exec/Makefile
!src/es_gettitle_exec/cstub/
!src/es_gettitle_exec/cstub/main.c
!src/es_gettitle_exec/cstub/stub.S
!src/es_gettitle_exec/cstub/syscall.h
!src/es_gettitle_exec/stub/
!src/es_gettitle_exec/stub/stub.S
!src/boot1-extract/
!src/boot1-extract/main.c
!src/boot1-extract/Makefile
!src/boot1-extract/sha1.c
!src/boot1-extract/sha1.h
