*
!.gitignore
!arm9ejs_ios.sinc
!bin/
!bin/ios-unpack
!bin/ios-res-syscall
!bin/dolparse
!bin/boot1-extract
!es_gettitle_exec/
!es_gettitle_exec/get_titles.py
!es_gettitle_exec/Makefile
!es_gettitle_exec/cstub/
!es_gettitle_exec/cstub/main.c
!es_gettitle_exec/cstub/stub.S
!es_gettitle_exec/cstub/syscall.h
!es_gettitle_exec/stub/
!es_gettitle_exec/stub/stub.S
